/************************************/
/* GLOBAL RESET */
/************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*************************************/
/* GLOBAL STYLING */
/*************************************/
html {
  font-size: 62.5%;
  background-color: rgb(32, 33, 36);
  color: rgb(231, 228, 239);
  font-family: "Golos Text", sans-serif;

  font-size: calc(15px + 0.390625vw);

  scroll-behavior: smooth;
  overflow: hidden;
}

img {
  width: 100%;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 1px 1px 10px 5px rgba(54, 48, 158);
}

/*************************************/
/* HERO STYLING */
/*************************************/
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  padding: 2rem;
  min-height: 100vh;
  background-image: url("./../imgs/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%);
  border-radius: 0 0 1rem 1rem;
  position: relative;
  z-index: 1;
}
.logo {
  grid-column: 1/3;
}
.logo-img {
  display: block;
  margin: 0 auto;
  width: clamp(20rem, 80vw, 30rem);
}
.play-btn,
.rules-btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-style: none;
  box-shadow: 0 5px 5px 2px rgb(0, 0, 0, 0.5);
}
.play-btn:active,
.rules-btn:active {
  box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.5);
  transform: translateY(1px);
}
.play-btn {
  grid-column: 2/3;
  align-self: self-start;
  justify-self: self-start;
  color: rgb(112, 45, 189);
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 800;
}
.rules-btn {
  grid-column: 1/2;
  align-self: self-start;
  justify-self: self-end;
  background-color: rgba(112, 45, 189, 0.95);
  color: #fff;
}
/*************************************/
/* RULES DIALOG STYLING */
/*************************************/
.rules {
  margin: 0 2rem;
  border-radius: 1rem;
  padding: 0 2rem 1rem;
  background-color: #fff;
  color: rgb(112, 45, 189);

  line-height: 4;
  font-size: 1.1rem;
  font-weight: 600;
  transform: translateY(10%);
  border: 2px solid rgb(112, 45, 189);
}
.rules[open] {
  animation: show-rules 1s ease normal;
}
.rules::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.close_rules--btn {
  display: block;
  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  background: rgb(112, 45, 189);
  color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 5px 5px 2px rgb(0, 0, 0, 0.5);
}
.rules div:first-of-type {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 0;
}
.close_rules--btn:active {
  box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.5);
  transform: translateY(1px);
}

.rules img {
  display: inline-block;
  width: 2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transform: translateY(40%);
}
.rules img:nth-of-type(3) {
  transform: translateY(40%);
  width: 3.5rem;
}
.rules span {
  color: rgba(255, 0, 0, 0.8);
  text-decoration: underline;
}
.rules span:nth-of-type(2) {
  color: rgb(0, 128, 0, 0.8);
}
@keyframes show-rules {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10%);
  }
}

/*************************************/
/* TOP BUTTON STYLING */
/*************************************/
.top-btn {
  background: none;
  border: 2px solid rgb(54, 48, 158);
  border-radius: 1.2rem;
  color: rgb(54, 48, 158);
  padding: 0.2rem 0.1rem;
  font-size: 1rem;
  font-weight: 600;

  position: fixed;
  bottom: 10%;
  right: 5%;

  display: none;
}
.top-btn .material-symbols-outlined {
  display: block;
  font-size: 3rem;
  padding: 0.1rem 0;
  margin-bottom: -1rem;
  animation: arrow 1s ease infinite alternate-reverse;
}

@keyframes arrow {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*************************************/
/* GAME STYLING */
/*************************************/
.section-game {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

.turns-container {
  align-self: self-end;
  justify-self: center;
  margin: 0 0 2rem 2rem;
}
.turn-num {
  display: inline-block;
  padding: 0.6rem;
  margin-left: 1rem;
  border: 2px solid rgb(54, 48, 158);
  transform: translateY(2px);
  border-radius: 1rem;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
}
.meteors-container {
  border: 2px dashed rgb(54, 48, 158);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: clamp(15rem, 60vw, 32rem);
  border-radius: 1rem;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-width: clamp(15rem, 50vw, 25rem);
  border: 1px solid rgb(54, 48, 158);
  margin-right: 8rem;
  transform: rotate(45deg);

  align-self: center;
  justify-self: self-end;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: 1px solid rgb(54, 48, 158);
  aspect-ratio: 1/1;
}

.tile-text {
  transform: rotate(-45deg);
  z-index: -1;
  pointer-events: none;
}

.destroyed {
  visibility: hidden;
}

.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.meteor {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: clamp(2rem, 10vw, 5rem);
  cursor: not-allowed;
  border: 1px solid rgb(235, 38, 38);
}
.meteor-holder {
  position: relative;
  width: clamp(2rem, 10vw, 5rem);
  padding-left: 0.5rem;
  aspect-ratio: 1/1;
  border-left: 2px solid rgb(54, 48, 158);

  z-index: 1;
}
.meteor-holder .move {
  position: absolute;
  border: 1px solid rgb(235, 231, 38);
  cursor: grab;
}

.yellow {
  width: clamp(24rem, 26vw, 60rem);
  bottom: 10rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-touch-action: none;
  touch-action: none;
}
.yellow img {
  width: 50%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

.blue {
  display: flex;
  align-items: center;
  justify-content: center;

  -ms-touch-action: none;
  touch-action: none;
}
.meteor img {
  pointer-events: none;
}
.reset-btn {
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(54, 48, 158);
  background: none;
  border-radius: 1.2rem;
  border: 2px solid rgba(54, 48, 158);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);

  transition: all 0.1s ease;

  visibility: hidden;
  pointer-events: none;
}

.reset-btn:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.7);
}

@keyframes shake {
  10%,
  60%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  40%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
}
/*************************************/
/* POPUP STYLING */
/*************************************/
.pop-up {
  top: 28%;
  margin: 0 auto;
  padding: 2rem 4rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 1.2rem;
  border-color: rgb(231, 228, 239);
  background-color: rgb(231, 228, 239);
  color: rgb(54, 48, 158);
  text-align: center;
}
.pop-up[open] {
  animation: show 0.5s ease normal;
}

.pop-up::backdrop {
  background-color: rgba(54, 48, 158, 0.1);
}

@keyframes show {
  from {
    transform: translateY(-110%);
  }

  to {
    transform: translateY(0%);
  }
}

.restart-btn {
  display: block;
  margin: 3rem auto 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1.2rem;
  border-color: rgba(255, 0, 0, 0);

  color: rgb(231, 228, 239);
  background-color: rgba(255, 0, 0, 0.8);
  transition: all 0.1s ease;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.7);
}
.restart-btn:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.7);
}

/*************************************/
/* COPYRIGHT STYLING */
/*************************************/
.copyright {
  position: fixed;
  bottom: 1%;
  right: 1%;
  letter-spacing: 1.1;
  z-index: 1;
}

.copyright a {
  display: inline-block;
  color: #fff;
  font-style: italic;
}
/*************************************/
/* MEDIA QUERIES */
/*************************************/
